@model IEnumerable<autoApp.Models.Car>

@{
    ViewBag.Title = "Car List";
}

<h2>Index</h2>

<div class="container">
    <div class="row">
        <div class="col-md-3 left">
            <div class="form-group">
                @Html.Label("Manufacturer")
                <div class="col-sm-12">
                    @Html.DropDownList("ManufacturerId", null, htmlAttributes: new { @class = "form-control", onchange = "manufacturerChanged(this.value)" })
                </div>               
            </div>
        </div>
        <div class="col-md-3 left">
            <div class="form-group">
                @Html.Label("Model")
                @if (ViewBag.Model != null)
                {                    
                    <input type="checkbox" data-toggle="tooltip" data-placement="top" title="Check to enable models" onchange="enableModels(this.checked)" checked>
                    <div class="col-sm-12">                    
                        @Html.DropDownList("ModelId", null, htmlAttributes: new { @class = "form-control" })
                    </div>                    
                }
                else
                {
                    <input type="checkbox" data-toggle="tooltip" data-placement="top" title="Check to enable models" onchange="enableModels(this.checked)">
                    <div class="col-sm-12">
                        @Html.DropDownList("ModelId", null, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-2">
            @Html.Label("Search")
            <div class="col-sm-12">
                <div class="btn-group" role="group" >
                    <button type="button" class="btn btn-default" onclick="search('@ViewBag.Price')">Search</button>
                    <button type="button" class="btn btn-default" onclick="defaultValue()">Default</button>
                </div>
            </div>            
        </div>
        <div class="col-sm-2">
            @Html.Label("Price")
            <div class="col-sm-12">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default">
                        @Html.ActionLink("Low", "Index", new { price = "Low", manufacturer = ViewBag.Manufacturer, Model = ViewBag.Model })
                    </button>

                    <button type="button" class="btn btn-default">
                        @Html.ActionLink("High", "Index", new { price = "High", manufacturer = ViewBag.Manufacturer, Model = ViewBag.Model })
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>

<p>    
    <a href="@Url.Action("Create", "Cars")" class="btn btn-info btn-lg">Create</a>    
</p>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Model.Manufacturer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManufacturerDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Power)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelConsumption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Model.Manufacturer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManufacturerDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Power)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelConsumption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="@Html.DisplayFor(modelItem => item.Image)">
                    <div class="caption">
                        <h3>@Html.DisplayFor(modelItem => item.Model.Manufacturer.Name)</h3>
                        <h5>@Html.DisplayFor(modelItem => item.Model.Name)</h5>                        
                        <p>@Html.DisplayFor(modelItem => item.Description)</p>
                        <span>@Html.DisplayFor(modelItem => item.Price)$</span>
                        <p>
                            <a href="@Url.Action("Edit", "Cars", new { id = item.Id })" class="btn btn-info">Edit</a>
                            <a href="@Url.Action("Details", "Cars", new { id = item.Id })" class="btn btn-secondary" role="button">Details</a>
                            <a href="@Url.Action("Delete", "Cars", new { id = item.Id })" class="btn btn-danger" role="button">Delete</a>
                        </p> 
                    </div>
                </div>
            </div> 
        } 
    </div>       
</div>

@section scripts{
    <script>

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        function search(price) {

            var manufacturer = getManufacturer();
            var model = getModel();
            console.log(manufacturer + ' ' + model + ' ');
            var url = '@Url.Action("Index", "Cars")?price=High'   + '&manufacturer=' + manufacturer + '&model=' + model;
            window.location.href = url;
        }

        function defaultValue() {            
            var url = '@Url.Action("Index", "Cars")';
            window.location.href = url;
        }

        function getModel() {
            var value
            if ($("#ModelId")[0].disabled) {
                value = null;
            } else {
                value = $("#ModelId")[0].value;
            }

            return value;
        }

        function getManufacturer() {
            var value = $("#ManufacturerId")[0].value;
            return value;
        }

        function manufacturerChanged(val) {

            var models = $("#ModelId");

            $.ajax({
                url: '@Url.Action("GetModelsByManufacturerId")',
                data: {
                    id: val
                },
                cache: false,
                success: function (result) {
                    models.empty();
                    $.each(result,
                        function (index, item) {
                            models.append($('<option value="' + item.Id + '">' + item.Name + '</option>'));
                        }
                    )
                    models.selectpicker('refresh');
                },
                error: function (error) {
                    console.log(error)
                }
            });

        }



        function enableModels(val) {

            if (val == true) {
                $("#ModelId")[0].disabled = false;
            } else {
                $("#ModelId")[0].disabled = true;
            }
        }
    </script>


}